<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Material -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</head>

<body>
    <div id="app">
        <input type="text" placeholder="請輸入標題" v-model="firebaseData.msg">
        <br>
        <textarea name="" id="" cols="30" rows="10" v-model="firebaseData.content"></textarea>
        <br>
        <button type="primary" @click="writeFirebase()">傳送到 firebase</button>

        <ul>
            <li v-for="(item,i) in firebaseData.list">
                {{item.message}}
                <button @click="removeFirebase(i)">移除項目</button>
            </li>
        </ul>

        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">標籤</th>
                    <th>專案</th>
                    <th>單號</th>
                    <th>功能項目</th>
                    <th>子項目</th>
                    <th>問題描述</th>
                    <th>負責工程師</th>
                    <th>處理日期</th>
                    <th>交付期限</th>
                    <th>更新日期</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                    <td>{{firebaseData.projectName}}</td>
                    <td>$2.90</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>

        <button type="button" class="mdl-button show-modal" @click="showModal">Show Modal</button>
        <dialog ref="mdl_dialog" class="mdl-dialog">
            <div class="mdl-dialog__content">
                <p>
                    Allow this site to collect usage data to improve your experience?
                </p>
            </div>
            <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
                <button type="button" class="mdl-button" @click="closeModal()">Disagree</button>
            </div>
        </dialog>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>


    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 樣式 Material -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                // firebase 設定檔
                config: {
                    apiKey: "AIzaSyDh3-r1jj4yKC6YuazflECugU91Ru7Kl2Y",
                    authDomain: "ml-kit-ea899.firebaseapp.com",
                    databaseURL: "https://ml-kit-ea899.firebaseio.com/",
                    storageBucket: "ml-kit-ea899.appspot.com"
                },

                firebaseData: {
                    msg: '',
                    projectName: '',
                    preObject: {},
                    content: '',
                    list: []
                },
                form: {
                    name: ''
                }
            },
            methods: {
                // 取得資料

                getFirebase: function () {

                    // const dbRefObject = firebase
                    //     .database()
                    //     .ref()
                    //     .child("object")
                    // // 只有一個 child
                    // dbRefObject.on("value", snap => {
                    //     // console.log(JSON.stringify(snap.val(), null, 3));
                    //     this.firebaseData.preObject = JSON.stringify(snap.val(), null, 3);
                    // });
                    // // 清單
                    // const dbRefList = dbRefObject.child("text");
                    // dbRefList.on("child_added", snap => {
                    //     console.log(this.firebaseData.content)
                    // });
                    const firebaseRef = firebase.database().ref('/messages/')
                    firebaseRef.on('value', snapshot => {
                        // 物件轉陣列方法一
                        // console.log(snapshot)
                        snapshot.forEach(x => {
                            const item = x.val();
                            item.key = x.key
                            // console.log(item)
                            this.firebaseData.list.push(item)
                        })
                    })

                },
                // 寫資料進 firebase
                writeFirebase: function () { // 存取資料夾
                    // var ref = firebase.database().ref('/posts/' + postId)
                    // 設定資料
                    // rer.set()
                    // 新增資料
                    // ref.push()
                    // 只取一次資料
                    // ref.once('value').then(function (snapshot) {
                    //     console.log(snapshot.val())
                    // })
                    // Socket 取得資料 (每次更新都會觸發)
                    // ref.on('value', function(snapshot){
                    //     console.log(snapshot.val())
                    // })

                    // firebaseRef.child('Heading').set(this.firebaseData.projectName)
                    const firebaseRef = firebase.database().ref('/messages')
                    firebaseRef.push({
                        message: this.firebaseData.msg
                    })
                    // 更新
                    // firebaseRef.child('message').set(this.firebaseData.msg)
                },
                // 移除資料
                removeFirebase: function (i) {
                    // this.firebaseData.list.splice(this.firebaseData.list.indexOf(i), 1)
                    const firebaseRef = firebase.database().ref('/messages/')
                    // console.log(this.firebaseData.list)
                    firebaseRef.child(this.firebaseData.list[i].key).remove()
                },
                showModal: function () {
                    this.$refs.mdl_dialog.showModal()
                },
                closeModal: function () {
                    this.$refs.mdl_dialog.close();
                },
            },
            mounted() {
                // 初始化 firebase 載入設定檔
                firebase.initializeApp(this.config);
                this.getFirebase()
            }
        })
    </script>
</body>

</html>